<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Fido</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="admin-dashboard-nav-item">
             <a class="nav-link" href="/admin-dashboard">Home</a>
          </li>
          <li class="nav-item " id="settings-nav-item">
             <a class="nav-link" href="/settings" style="cursor: pointer">Settings</a>
          </li>
          <li class="nav-item" id="logout-nav-item">
             <a class="nav-link" href="/logout">Logout</a>
          </li>
       </ul>
       <div class="d-flex">
          <p class="mt-1" style="font-size: 16px; font-weight: 500;"> <%= username %> <img src="../assets/img/user.png" width="20px" height="20px" /></p>
          <div class="btn-group  m-1">
      </div>         
    </div>
 </nav>