<head>
   <title>Login</title>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
   <link rel="stylesheet" href="stylesheet.css" />
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
   <script src="/plugins/notification.js" charset="utf-8"></script>
</head>
<div class="global-container">
   <div class="card login-form">
      <div class="card-body">
         <h3 class="card-title text-center">FIDO</h3>
         <p class="text-center">Employee evaluation portal</p>
         <div class="card-text">
            <div class="alert alert-danger" style="display: none" id="Incorrect-details" role="alert">Incorrect username or password.</div>
            <!-- <div class="alert alert-danger" role="alert" id="namecheckq">Enter username!</div> -->
            <form>
               <div class="form-group">
                  <label>User type :</label>
                  <select class="form-control" id="user-type">
                     <option value="0" name="mentor">Admin</option>
                     <option value="1" name="guest">Mentor</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control form-control-sm" id="email-id" />
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <!-- <a href="#" style="float: right; font-size: 12px">Forgot password?</a> -->
                  <input type="password" class="form-control form-control-sm" id="password" />
               </div>
               <button type="button" class="btn btn-primary btn-block" onclick="signUp()">Sign in</button>

               <div class="sign-up">Don't have an account? <a href="#">Create One</a></div>
            </form>
         </div>
      </div>
   </div>
</div>
<style>
   html,
   body {
      height: 100%;
   }

   .global-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
   }

   form {
      padding-top: 10px;
      font-size: 14px;
      margin-top: 30px;
   }

   .card-title {
      font-weight: 300;
   }

   .btn {
      font-size: 14px;
      margin-top: 20px;
   }

   .login-form {
      width: 330px;
      margin: 20px;
   }

   .sign-up {
      text-align: center;
      padding: 20px 0 0;
   }

   .alert {
      margin-bottom: -30px;
      font-size: 13px;
      margin-top: 20px;
   }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
   function specialCharactercheck(str) {
      {
         const specialChars = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
         return specialChars.test(str);
      }
   }

   function signUp() {
      const emailID = document.getElementById("email-id").value;
      const password = document.getElementById("password").value;
      let userType = document.getElementById("user-type").value;
      fetch("/login", {
         method: "POST",
         headers: {
            "Content-Type": "application/json",
         },
         body: JSON.stringify({
            emailID,
            password,
            userType,
         }),
      })
         .then((response) => {
            if (response.status == 200) {
               window.location.href = "/dashboard";
            } else {
               document.getElementById("Incorrect-details").style.display = "block";
               setTimeout(() => {
                  document.getElementById("Incorrect-details").style.display = "none";
               }, 1500);
               demo.showNotification("left", "bottom", "Invalid Credentials");
               flag = false;
            }
         })
         .catch((error) => {
            // div_invalidcred.style.display = "block"
            // flag = false
         });
   }
</script>
