<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="/plugins/notification.js" charset=utf-8></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register</title>
  </head>
  <body>
    <div class="row parent-row"></div>
    <div class="row child-row">
    <div class="col-md-6">
        <form id="left-form">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" id="name" name="name" class="form-control" aria-describedby="emailHelp" required>
            </div>
            <select class="form-control form-control-lg" id="userType" style="margin: 20px auto 11px auto;">
              <option>Guest</option>
              <option>Mentor</option>
            </select>
            <div class="form-group">
              <label for="exampleInputEmail1">Employee ID</label>
              <input type="text" id="id" name="id" class="form-control" aria-describedby="emailHelp"  style="text-transform:uppercase" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Domain</label>
              <input type="text" id="domain" name="domain" class="form-control" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" id="username" name="username" class="form-control" aria-describedby="emailHelp" required>
            </div>     
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" id="password" name="password" class="form-control" aria-describedby="emailHelp" required>
              </div>          
          </form><div class="text-center">
          <button type="submit" onclick="registerValidation()" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 10px;">Submit</button>
    </div></div>
    
    <div class="col-md-6 right-col" style="display: flex; background-color: #000000; border-radius: 4px;" >
        <img id="accu-image" src="https://yt3.ggpht.com/Dhji_xBpUOQsxiF2VLT-PCYdb0Fe6bww7Iyqjnl-M8nGuMTgOsYYNSLLLPda6JSybOAx4Ywfag=s900-c-k-c0x00ffffff-no-rj" style="height: 380px; width: 370px; margin: auto ;">
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
<style>
  body{
    overflow: hidden;
  }
.parent-row{
    /* background-image: url("https://accubits.com/wp-content/uploads/2019/02/46077472_2469810979701084_6750447743195414528_o-1.png"); */
    background: linear-gradient(to right, rgb(251 175 175 / 40%), rgb(0 0 0 / 0%)),url("https://accubits.com/wp-content/uploads/2019/02/46077472_2469810979701084_6750447743195414528_o-1.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}
.child-row{
    background-color: rgb(255, 255, 255);
     height: auto; 
     margin: -90px 170px 70px 170px;
     border-radius: 5px;
     box-shadow:3px 8px 14px #6b6b6b;
}
#left-form{
    margin: 20px 20px 20px 20px;
}
.leftmd-pic{
    background-image: url("https://blog.accubits.com/wp-content/uploads/2017/07/logo.jpg");
    background-position: center;
}
@media only screen and (max-width: 720px) {
  body{
    overflow: scroll;
  }
    .parent-row{
        height: 250px;
    }
   .child-row{
    margin: -90px 25px 33px 25px;
    }
    #accu-image{
        max-width: 95%;
        max-height: 100%;
    }
  }
</style>
<script>
  function registerValidation() {
    let name = document.getElementById("name").value
    let id = document.getElementById("id").value
    let domain = document.getElementById("domain").value
    let username = document.getElementById("username").value
    let password = document.getElementById("password").value
    let userType=document.getElementById("userType").value
    if (name == '') demo.showNotification("left", "bottom", "Name cant be empty")
    else if (id == '') demo.showNotification("left", "bottom", "Id cant be empty")
    else if (userType == '') demo.showNotification("left", "bottom", "User type cant be empty")
    else if (domain == '') demo.showNotification("left", "bottom", "Domain cant be empty")
    else if (username == '') demo.showNotification("left", "bottom", "Username cant be empty")
    else if (password == '') demo.showNotification("left", "bottom", "Password cant be empty")
    else {
      fetch("/register", {
          method: 'POST',
          headers: {
            'Accept': 'application/json , text/plain,  */*',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name,
            id,
            userType,
            domain,
            username,
            password
          })
        })
        .then((response) =>
          response.json().then(data => {
            return {
              data: data,
              status: response.status
            }
          }))
        .then(resp => {
          if (resp.status == 200) {
            setTimeout(function() {
              window.location.href = "/login"
            }, 2000);
            demo.showNotification("left", "bottom", "Registration success")
            //   window.location.href = "/dashboard"
          } else {
            demo.showNotification("left", "bottom", "Error in adding the registration!")
            flag = false
          }
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
</script>
</html>